@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #f72585;
}

.content {
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  display: flex;
  justify-content: start;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 600px;
  width: 500px;
  background-color: #2b2e3b;
  color: #ffffff;
}
 
.navigation {
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px gray;
  height: 60px;
  width: 100%;
  text-align: center;
}

ul {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0; /* Usuń domyślne wcięcia */
}

li {
  text-decoration: none;
  font-size: 20px;
  margin: 15px;
  list-style: none;
}

a {
  color: rgba(128, 128, 128, 0.658);
  text-decoration: none;
}

.day-date {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 130px;
  width: 450px;
}

.day-date-text {
  font-size: 30px;
  margin: -3px;
  text-align: center;
}

.month-day-year {
  font-weight: 400; /* Regular dla daty */
  font-size: 14px;
  color: #aaaaaa; /* Szary odcień */
}

img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 60px;
}

.date-inner {
  text-align: center;
}

.task-list {
  align-items: center;
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 400px;
  width: 100%;
}

.task-input {
  background-color: #141622a8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 300px;
  margin: 10px;
}

.task-input:focus {
  outline: none;
}
.task-input::placeholder {
  font-size: 14px;
  color: #aaaaaa; /* Szary odcień */
}

.task-list-inner {
  align-items: start;
  display: flex;
  justify-content: start;
  height: 380px;
  width: 100%;
  overflow-y: auto; 
}

.task-ul {
  align-items: start;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.task-inputs {
  align-items: center;
  display: flex;
  justify-content: center;
}

.add-task-button {
  background-color: #f72585;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid #f72585; /* Kolor obramowania */
  border-radius: 4px; /* Zaokrąglone rogi */
  background-color: #141622a8; /* Tło */
  cursor: pointer;
  transition: all 0.3s ease;
}


.task-text {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px gray;
  font-size: 18px;
  color: #ffffff;
  width: 400px;
}

.delete-task-button {
  background-color: #f72585;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin: 20px;
}